
<!DOCTYPE html>
{% load static %}

<footer class="site-footer">
  <a class="to-the-top" href="#top-header" title="To the top">
    <em class="mdi mdi-chevron-double-up"></em>
    <svg width="150" height="50" viewbox="0 0 39.687499 13.229167">
      <path
        d="M-.0035 296.999c9.007 0 11.8302-13.1833 19.8324-13.1852C27.8372 283.8118 30.636 297 39.683 297c9.047 0-48.6935-.001-39.6864-.001z"
        transform="translate(0,-283.77081)"
      ></path>
    </svg>
  </a>
  <div class="container">
    <div class="widget-area">
      <div class="widget widget_text widget_logo">
        <h4 class="widget-title">
          <img
            src="{% static 'project/images/logo-footer.svg' %}"
            width="209"
            height="18"
            alt="CrowdInvest"
          /><span class="sr-only">CrowdInvest</span>
        </h4>
        <div class="textwidget">
          <p>
            We offer an extensive range of professional services and a high
            degree of specialization. We serves both private &amp; public
            companies and bring over 35 years of experience.
          </p>
          <nav class="social-navigation">
            <ul id="social-menu" class="menu">
              <li>
                <a href="https://linkedin.com/"
                  ><span class="screen-reader-text">Instagram profile</span></a
                >
              </li>
              <li>
                <a href="https://facebook.com/"
                  ><span class="screen-reader-text">Facebook profile</span></a
                >
              </li>
              <li>
                <a href="https://twitter.com/"
                  ><span class="screen-reader-text">Twitter profile</span></a
                >
              </li>
              <li>
                <a href="https://youtube.com/"
                  ><span class="screen-reader-text">YouTube page</span></a
                >
              </li>
              <li>
                <a href="https://instagram.com/"
                  ><span class="screen-reader-text">Instagram profile</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="widget widget_text">
        <h4 class="widget-title">
          Contact <span class="low-opacity">Us</span>
        </h4>
        <div class="textwidget">
          <p>
            <img
              class="office-country"
              src="{% static 'project/images/eg.svg' %}"
              width="24"
              alt=""
            />
            <strong>Egypt:</strong> Str. 13, Street, +000 0000 0000
            <br />
            <img
              class="office-country"
              src="{% static 'project/images/eg.svg' %}"
              width="24"
              alt=""
            />
            <strong>Egypt:</strong> Str. 13, Street, +000 0000 0000
            <br />
            <img
              class="office-country"
              src="{% static 'project/images/eg.svg' %}"
              width="24"
              alt=""
            />
            <strong>Egypt:</strong> Str. 13, Street, +000 0000 0000
          </p>
          <p>
            <strong>Company:</strong> CrowdInvest OÜ
            <br />
            <strong>Registration Nr.:</strong> 13472495
            <br />
            <strong>Contact:</strong>
            <a href="mailto:mail@crowdinvest.com">contact@crowdinvest.com</a>
          </p>
        </div>
      </div>
      <div class="widget widget_nav_menu">
        <h4 class="widget-title">
          Explore <span class="low-opacity">Site</span>
        </h4>
        <nav class="footer-useful-links">
          <ul class="menu">
            <li><a href="{% url 'campaigns' %}?page=1">Invest</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Statistics</a></li>
            <li><a href="">Styleguide</a></li>
          </ul>
          <ul class="menu">
            <li><a href="">How To Invest</a></li>
            <li><a href="">Get Funding</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Affiliate Program</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <aside class="site-footer-bottom">
      <div class="site-footer-credits">
        &copy; 2022 CrowdInvest. All Rights Reserved.
      </div>
      <div class="site-footer-cookies">
        By using this website you agree to the
        <a href="#">use of cookies</a> in accordance with the cookies policy.
      </div>
    </aside>
  </div>
</footer>

<div class="support-chat">
  <div id="chat-panel" class="chat-panel">
    <div class="chat-messages">
      <p class="message message-support">
        Hey there, let me know if there's anything I can help you with!
      </p>
      <p class="message message-user">I'm just looking around...</p>
      <p class="message message-support">Nice, have a good one!</p>
    </div>
    <input
      type="text"
      class="input-message"
      autocomplete="off"
      placeholder="Type your message here&hellip;"
    />
    <span class="chat-powered-by">
      Can be powered By
      <a href="">ChatCreate</a></span
    >
  </div>

  <script src="{% static 'project/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'project/js/jquery.3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'project/js/slick.min.js' %}"></script>
  <script src="{% static 'project/js/main.js' %}"></script>
  <script src="{% static 'project/js/single_project.js' %}"></script>
  <script src="{% static 'project/js/modernizr-custom.js' %}"></script>
  <script src="{% static 'project/js/fancybox.min.js' %}"></script>
  <script src="{% static 'project/js/functions.js' %}"></script>
  <script src="{% static 'project/js/tagsinput.js' %}"></script>
  <script src="{% static 'project/js/popper.min.js' %}"></script>
  <script src="{% static 'project/js/bootstrap.min.js' %}"></script>
  <script>
    document.title = $("#post-form").submit(function (e) {
      e.preventDefault();
    });
  </script>

</div>
</body>
</html>