<!DOCTYPE html>
{% extends "project/base/base.html" %} {% block title %} Create an
account{%endblock%} {%block content %}
<h1>Create Profile</h1>
<p>Please, sign up using the following form:</p>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{user_form.as_p}}

  <label for="id_phone">{{profile_form.phone.label}}</label>
  {% for i in profile_form.errors.values %} {{i}} {% endfor %}
  {{profile_form.phone}}
  <label for="id_photo">{{profile_form.photo.label}}</label>
  {{profile_form.photo}}

  <p><input type="submit" value="Create my Profile" /></p>
</form>
{% endblock %}
