<!DOCTYPE html>
{% extends 'project/base/base.html' %} {% load static %} {% block title %} {%
block title %}Log-in{% endblock %} {% block content %}
<!--  -->
<h1>Log-in</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% else %}
<p>
  Please, use the following form to log-in. If you don't have an account
  <a href="{% url 'register' %}"> register here </a>.
</p>
{% endif %}
<!--  -->
<div class="login-form">
  <form action="{% url 'login' %}" method="post">
    {% include 'account/messages.html' %} {% csrf_token %} {{ form.as_p }}
    <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
    <input type="submit" value="Log-in" />
  </form>
  <div>
    <a class="btn btn-danger btn-sm" href="{% url 'password_reset' %}">
      Forgotten your password?
    </a>
    <a
      class="btn btn-primary btn-sm"
      href="{% url 'social:begin' 'facebook' %}"
    >
      Login with Facebook
    </a>
  </div>
</div>
<br />
{% endblock %}
